[submodule "CSE5311-Hands-On-2"]
	path = CSE5311-Hands-On-2
	url = git@github.com:hoaihdinh/CSE5311-Hands-On-2.git
[submodule "CSE5311-Hands-On-3"]
	path = CSE5311-Hands-On-3
	url = git@github.com:hoaihdinh/CSE5311-Hands-On-3.git
[submodule "CSE5311-Hands-On-4"]
	path = CSE5311-Hands-On-4
	url = git@github.com:hoaihdinh/CSE5311-Hands-On-4.git
[submodule "CSE5311-Hands-On-5"]
	path = CSE5311-Hands-On-5
	url = git@github.com:hoaihdinh/CSE5311-Hands-On-5.git
[submodule "CSE5311-Hands-On-6"]
	path = CSE5311-Hands-On-6
	url = git@github.com:hoaihdinh/CSE5311-Hands-On-6.git
[submodule "CSE5311-Hands-On-8"]
	path = CSE5311-Hands-On-8
	url = git@github.com:hoaihdinh/CSE5311-Hands-On-8.git
[submodule "CSE5311-Hands-On-10"]
	path = CSE5311-Hands-On-10
	url = git@github.com:hoaihdinh/CSE5311-Hands-On-10.git
